@model IEnumerable<eco.tEventSet>

@{
    ViewBag.Title = "Event2";
}

<h2>Event2</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fEventId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fEventTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fEventFromDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fEventFromTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fEventEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fEventEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fEventImgPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fEventLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fEventDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fEventFeeOrFree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fEventFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fEventFromDay_R)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fEventFromTime_R)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fEventEndDate_R)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fEventEndTime_R)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fRemark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ferUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fnumAttendPeople)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ferName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ferPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ferEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ferGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ferBirthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ferIdentity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ferOccupation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ferVeganOrNot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ferOtherColumn1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ferOtherColumn2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ferOtherColumn3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ferOtherColumn4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ferOtherColumn5)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fEventId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fEventTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fEventFromDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fEventFromTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fEventEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fEventEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fEventImgPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fEventLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fEventDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fEventFeeOrFree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fEventFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fEventFromDay_R)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fEventFromTime_R)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fEventEndDate_R)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fEventEndTime_R)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fRemark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ferUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fnumAttendPeople)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ferName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ferPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ferEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ferGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ferBirthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ferIdentity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ferOccupation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ferVeganOrNot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ferOtherColumn1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ferOtherColumn2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ferOtherColumn3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ferOtherColumn4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ferOtherColumn5)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
