@model eco.tEventRegister

@{
    ViewBag.Title = "Event_signup";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="~/fontawesome/all.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h2>活動報名</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" hidden>
            <div class="control-label col-md-2">No.</div>
            <div class="col-md-10">
                <input type="text" class="form-control" name="fEventRegisterId" />
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><span class="text-danger">*</span>活動編號</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fEventId, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><span class="text-danger">*</span>戶號</div>
            <div class="col-md-10">
                <input type="text" class="form-control" name="fEventRegisterId" />
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><span class="text-danger">*</span>參加人數</div>
            <div class="col-md-10">
                <input type="text" class="form-control" name="fnumAttendPeople" />
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><span class="text-danger">*</span>姓名</div>
            <div class="col-md-10">
                <input type="text" class="form-control" name="ferName" />
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><span class="text-danger">*</span>連絡電話</div>
            <div class="col-md-10">
                <input type="text" class="form-control" name="ferPhone" />
            </div>
        </div>

        <div class="form-group" id="ferEmail" style="display:none" showornot="@ViewBag.ferEmail">
            <div class="control-label col-md-2"><span class="text-danger">*</span>電子郵件</div>
            <div class="col-md-10">
                <input type="text" class="form-control" name="ferEmail" />
            </div>
        </div>

        <div class="form-group" style="display:none" id="ferGender" showornot="@ViewBag.ferGender">
            <div class="control-label col-md-2"><span class="text-danger">*</span>性別</div>
            <div class="col-md-10">
                <input type="text" class="form-control" name="ferGender" />
            </div>
        </div>

        <div class="form-group" style="display:none" id="ferBirthday" showornot="@ViewBag.ferBirthday">
            <div class="control-label col-md-2"><span class="text-danger">*</span>出生年月日</div>
            <div class="col-md-10">
                <input type="text" class="form-control" name="ferBirthday" />
            </div>
        </div>

        <div class="form-group" style="display:none" id="ferIdentity" showornot="@ViewBag.ferIdentity">
            <div class="control-label col-md-2"><span class="text-danger">*</span>身分證字號</div>
            <div class="col-md-10">
                <input type="text" class="form-control" name="ferIdentity" />
            </div>
        </div>

        <div class="form-group" style="display:none" id="ferOccupation" showornot="@ViewBag.ferOccupation">
            <div class="control-label col-md-2"><span class="text-danger">*</span>職業</div>
            <div class="col-md-10">
                <input type="text" class="form-control" name="ferOccupation" />
            </div>
        </div>

        <div class="form-group" style="display:none" id="ferVeganOrNot" showornot="@ViewBag.ferVeganOrNot">
            <div class="control-label col-md-2"><span class="text-danger">*</span>素食/葷食</div>
            <div class="col-md-10">
                <input type="text" class="form-control" name="ferVeganOrNot" />
            </div>
        </div>

        <div class="form-group" style="display:none" id="ferOtherColumn1" showornot="@ViewBag.ferOtherColumn1">
            <div class="control-label col-md-2"><span class="text-danger">*</span>@ViewBag.ferOtherColumn1</div>
            <div class="col-md-10">
                <input type="text" class="form-control" name="ferOtherColumn1" />
            </div>
        </div>

        <div class="form-group" style="display:none" id="ferOtherColumn2" showornot="@ViewBag.ferOtherColumn2">
            <div class="control-label col-md-2"><span class="text-danger">*</span>@ViewBag.ferOtherColumn2</div>
            <div class="col-md-10">
                <input type="text" class="form-control" name="ferOtherColumn2" />
            </div>
        </div>

        <div class="form-group" style="display:none" id="ferOtherColumn3" showornot="@ViewBag.ferOtherColumn3">
            <div class="control-label col-md-2"><span class="text-danger">*</span>@ViewBag.ferOtherColumn3</div>
            <div class="col-md-10">
                <input type="text" class="form-control" name="ferOtherColumn3" />
            </div>
        </div>

        <div class="form-group" style="display:none" id="ferOtherColumn4" showornot="@ViewBag.ferOtherColumn4">
            <div class="control-label col-md-2"><span class="text-danger">*</span>@ViewBag.ferOtherColumn4</div>
            <div class="col-md-10">
                <input type="text" class="form-control" name="ferOtherColumn4" />
            </div>
        </div>

        <div class="form-group" style="display:none" id="ferOtherColumn5" showornot="@ViewBag.ferOtherColumn5">
            <div class="control-label col-md-2"><span class="text-danger">*</span>@ViewBag.ferOtherColumn5</div>
            <div class="col-md-10">
                <input type="text" class="form-control" name="ferOtherColumn5" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/JS/eventsignup.js"></script>
    <script>
        console.log("??");
     
    </script>
